<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="D365FO_Table_browser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ControlzEx" publicKeyToken="69f1c32f803d307e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <D365FO_Table_browser.Properties.Settings>
      <setting name="ServerURLS" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultCompany" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultServer" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultTableBrowser" serializeAs="String">
        <value>SysTableBrowser</value>
      </setting>
      <setting name="CompanyAccounts" serializeAs="String">
        <value />
      </setting>
      <setting name="Tables" serializeAs="String">
        <value />
      </setting>
      <setting name="LastURL" serializeAs="String">
        <value />
      </setting>
      <setting name="LastTable" serializeAs="String">
        <value />
      </setting>
      <setting name="AboutFile" serializeAs="String">
        <value />
      </setting>
      <setting name="AppDataFolder" serializeAs="String">
        <value>DevMethod</value>
      </setting>
      <setting name="HelpPage" serializeAs="String">
        <value>https://memyselfandax.wordpress.com/simple-d365fo-table-browser/</value>
      </setting>
    </D365FO_Table_browser.Properties.Settings>
  </userSettings>
</configuration>
